/* -----------
    RESET
----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------
  APP HEADER
----------- */
header {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 10px 20px;
}

.head-logo,
.head-title {
    display: inline-block;
    vertical-align: middle;
}

.head-title {
    font-size: 40px;
}